VITE_PORTAL_DATA_SOURCE=mock
PORTAL_DB_HOST=
PORTAL_DB_USER=
PORTAL_DB_PASSWORD=
PORTAL_DB_NAME=hoducc
VITE_YAXXA_API_BASE_URL=https://omni.yaxxa.co.za/YaxxaCC_api/v2.1
VITE_YAXXA_API_TOKEN=
VITE_YAXXA_API_TENANT_IDS=1001,1002
